@(productForm:Form[models.Product])(implicit flash:Flash, request: Request[Any])
@import common._

@mainLayout(title = "New Product"){
  @flash.get("success").map{message=>
    <p>@message</p>
  }
  @if(productForm.hasGlobalErrors){
    <ul>
      @for(error <- productForm.globalError){
        <li>@error.message</li>
      }
    </ul>
  }

  @helper.form(action = routes.Products.postForm()){
    @helper.CSRF.formField  @* -Add the CSRF Token Helper Tag -*@
    @helper.inputText(productForm("id"))
    @helper.inputText(productForm("name"))
    <input type="submit">
  }
}